[Unit]
Description=First boot setup
After=systemd-udevd.service systemd-udev-trigger.service systemd-vconsole-setup.service local-fs.target

[Service]
RemainAfterExit=yes
Type=oneshot
StandardOutput=journal
StandardError=journal
ExecStart=/sbin/ffr-firstboot
SendSIGKILL=no
TimeoutStartSec=infinity
TimeoutStopSec=infinity
TimeoutSec=infinity
TimeoutStartUSec=infinity
TimeoutStopUSec=infinity
TimeoutUSec=infinity

[Install]
WantedBy=multi-user.target
