[Unit]
Description=First boot setup
DefaultDependencies=no
After=systemd-udevd.service systemd-udev-trigger.service systemd-vconsole-setup.service local-fs.target

[Service]
RemainAfterExit=yes
Type=oneshot
StandardOutput=journal
StandardError=journal
ExecStart=/sbin/ffr-firstboot
SendSIGKILL=no
TimeoutSec=3600

[Install]
WantedBy=multi-user.target
